.App {
  color: #666;
  display: flex;
  flex-direction: column;
  /* width: 800px; */
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.App a {
  color: #666;
  text-decoration: none;
}

.App .header {
  margin: 0 auto;
  background-color: #f05740;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.App .header .image-logo {
  width: 300px;
  margin: 0 auto;
}

.App .header img {
  width: 300px;
}

.App .block {
  color: #999;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  height: 276px;
}
.App .block.selected {
  padding: 10px 0;
  height: 230px;
  background-color: #f3f3f3;
}
.App .block.listings .ListingItem{
  height: 236px;
}

.App .block .caption {
  margin: 0 20px;
  flex: 0.3;
}
.App .block p {
  font-size: 1.5em;
}
.App .block small {
  font-size: 0.8em;
}

.ListingList, .ListingSelected {
  width: 1000px;
}

.ListingList {
  margin: 20px 0;
  display: flex;
  overflow: auto;
}

.ListingSelected {
  display: flex;
  /* justify-content: center; */
  overflow: auto;
}

.MyFacebookLogin {
  margin:   20px auto 100px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.MyFacebookLogin .kep-login-facebook {
  background-color: #26C6DA;
}
.MyFacebookLogin p {
  font-size: 1.5em;
  color: #999;
}
.MyFacebookLogin .ConfirmDialog {
  align-self: center;
}
.displayNone {
  display: none;
}

.search-area {
  /* display: flex; */
  margin: 80px auto;
}
.search-area span, .block.listings span,
.block.selected span {
  display: flex;
  justify-content: center;
}

.SearchBox {
  margin: 0 50px;
}

.RaisedButton .its-handy {
  font-size: 30px;
}
