.App {
  color: #666;
}

.App a {
  color: #666;
  text-decoration: none;
}

.ListingList, .ListingSelected, .ListingSearch, .MyFacebookLogin {
  width: 800px;
}

.ListingList {
  margin: 50px auto;
  display: flex;
  overflow: auto;
}

.ListingSelected {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.MyFacebookLogin {
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

.ListingItem {
  margin: 0 10px;
  width: 170px;
}

.ListingSearch {
  margin: 20px auto;
}
